<!-- <div class="table-container" style="border-radius: 20px;">
    <table style="width: 690px; border-radius: 20px;">
        <thead>
            <tr style="height:30px; background-color: white; gap: 2px;">
                <th>PROPOSAL NAME</th>
                <th>SUMMARY</th>
                <th>REACH</th>
                <th>ACTION</th>
            </tr>
        </thead>
        <tbody style="background-color: white; width: 600px;">
            <% proposals.forEach(proposal => { %>
                <tr>
                    <td><%= proposal.clientName %></td>
                    <td><%= proposal.slotDuration %></td>
                    <td><%= proposal.cities.join(', ') %></td>
                    <td>
                        <button style="border: none; border-radius: 4px; background-color: #0D6EFD; color: white;" class="submitted-button" data-id="<%= proposal._id %>">Submitted</button>
                        <hr style="background-color: white;">
                        <button style="color: #EF8E8F; margin: 1px 1px;" class="discard-button" data-id="<%= proposal._id %>">Discard</button>
                    </td>
                </tr>
            <% }) %>
        </tbody>
    </table>
</div> -->
