<%- include('layoyt.ejs') %>


    <!-- views/index.ejs -->
    <!DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Create Proposal</title>
        <link rel="stylesheet" href="/styles.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
            integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
            crossorigin="anonymous" referrerpolicy="no-referrer" />
            
    </head>

    <body style="background-color: #F1FAFF ;">
       

        <h1 id="openFormBtn2" style="margin-top: -700px;"><b>PROPOSALS </b><i class="fa-solid fa-circle-plus"></i></h1>





        <div id="proposalModal" class="modal">
            <div class="modal-content">
                <span class="close">&times;</span>

                <!-- Step 1 -->
                <div id="formStep1" style=" font-family: 'Nunito Sans';">
                    <h4>CREATE PROPOSAL</h4>
                    <hr>
                    <form id="proposalFormStep1">
                        <div class="form-inner">
                            <h6 style="border:"none";>Client Name</h6>
                            <input type="text" name="clientName">
                        </div>

                        <div class="date-time-record">
                            <div class="duration">
                                <h6>Duration: Starts on</h6>
                                <input type="date" name="startDate">
                            </div>
                            <div class="duration">
                                <h6>Runs for</h6>
                                <div class="date-time">
                                    <input type="date" name="duration">
                                    <h6>Days</h6>
                                </div>
                            </div>
                            <div class="duration">
                                <h6>Slot Duration</h6>
                                <div class="date-time">
                                    <input type="number" name="slotDuration" id="seconds" class="seconds-input" min="0"
                                        max="59" step="1">
                                    <h6>Sec</h6>
                                </div>
                            </div>
                        </div>
                        <div class="city-dropdown">
                            <h6>Cities</h6>
                            <select name="cities" id="city">
                                <option value="Ahmedabad">Ahmedabad</option>
                                <option value="Gandhinagar">Gandhinagar</option>
                                <option value="Surat">Surat</option>
                            </select>
                        </div>

                        <div class="city-dropdown">
                            <h6>Client Type</h6>
                            <select name="clientType" id="">
                                <option value="Ahmedabad">National Agency</option>
                                <option value="Gandhinagar">Local Agency</option>
                                <option value="Surat">Direct Client(National)</option>
                            </select>
                        </div>
                        <div class="city-dropdown">
                            <h6>Property Type</h6>
                            <select name="propertyType" id="">
                                <option value="Ahmedabad">Residential</option>
                                <option value="Gandhinagar">Corporate</option>
                                <option value="Surat">Commercial</option>
                            </select>
                        </div>
                        <div class="city-dropdown">
                            <h6>Plan</h6>
                            <select name="plan" id="">
                               
                                <option value="Gandhinagar">Standerd</option>
                                <option value="Surat">Primium</option>
                            </select>
                        </div>
                        <div class="form-inner">
                            <h6>Advertisier Tag</h6>
                            <input type="text" name="advertiserTag">
                        </div>
                        <div class="toggle-btn">
                            <h6>POP Required?</h6>
                            <label class="switch">
                                <input type="checkbox" name="popRequired">
                                <span class="slider"></span>
                            </label>
                        </div>
                        <div class="toggle-btn">
                            <h6>Geo Tagging Required?</h6>
                            <label class="switch">
                                <input type="checkbox" name="geoTaggingRequired">
                                <span class="slider"></span>
                            </label>
                        </div>
                        <button type="button" id="nextStepBtn">Next</button>
                    </form>
                </div>

                <!-- Step 2 -->
                <div id="formStep2" style="display: none;">

                    <h4>UPLOAD MEDIA</h4>
                    <hr>
                    <div class="form" style=" font-family: 'Nunito Sans';">
                        <style>

                        </style>
                        <div class="img-video">
                            <h6>Type:</h6>
                            <div class="type-button">
                                <button class="dark">Image/Gif</button>
                                <button>Videos</button>
                                <button>Web</button>
                            </div>
                        </div>
                        <div class="form-inner">
                            <h6 style="border: none; font-family: " Gilroy-Medium";>File Name:</h6>
                            <input type="text" name="fileName">
                        </div>
                        <div class="upload-area" style="background-size: cover;">
                            <h6 style="    margin-left: -139px;">Media:</h6>
                            <button class="upload-button" id="uploadButton"><img src="/SVG/Uplod.svg" alt="">Click To
                                Upload</button>
                            <input type="file" id="fileInput" style="display: none;">
                        </div>
                        <div class="preview-container" id="previewContainer"
                            style="display: none;      margin: -9px -431px;">
                            <img id="previewImage" src="/SVG/aekads.svg" alt="Image Preview">
                            <button class="delete-button" id="deleteButton"><img src="/SVG/Delete.svg" alt=""></button>
                        </div>
                        <div class="Creative-Instruction">
                            <h6>Creative Instruction</h6>
                            <input type="text" name="creativeInstruction">
                            <div class="edit-next-btn2">
                                <button id="goBackBtn" class="edit-btn12"
                                    style="background-color:rgba(232, 175, 4, 1) ;">Go Back</button>
                                <button id="nextBtnStep2" class="next-btn2">Next</button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Step 3 -->
                <div id="formStep3" style="display: none;">
                    <style>

                    </style>

                    <h6>PROPOSAL SUMMARY </h6>
                    <hr>
                    <div class="right-side" style=" font-family: 'Nunito Sans';">
                        <div class="location-track">
                            <iframe
                                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3667.5969980705504!2d72.62063957591536!3d23.184904310249724!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xad8ecf93e8da6969%3A0xc4b3b86922ef1057!2sAek%20Ads!5e0!3m2!1sen!2sin!4v1717578276726!5m2!1sen!2sin"
                                width="600" height="450" style="border: 0" allowfullscreen="" loading="lazy"
                                referrerpolicy="no-referrer-when-downgrade"></iframe>
                        </div>
                    </div>

                    <div class="jayyy">

                    </div>
                    <div class="jay">
                        <!-- <h6>Client Name:</h6> -->
                        <b>
                            <h3 id="reviewClientName"></h3>
                        </b>
                    </div>
                    <div class="box21">

                        <div>
                            <h6 style="margin-left: 10px">Start Date:</h6>
                            <p id="reviewStartDate"></p>
                            <h6 style="     margin: -13px 77px;">To</h6>
                            <p id="reviewDuration"></p>
                            <p id="reviewSlotDuration" style="margin-top:1px;margin-left: 10px"></p>

                        </div>
                    </div>
                    <div>
                        <h6 style="display: none;">Duration:</h6>

                    </div>
                    <div>

                    </div>
                    <div class="box2">

                        <div>
                            <h6 style=" margin-left: 10px;">Cities:</h6>
                            <p id="reviewCities" style="margin-left: 10px;"></p>
                        </div>
                    </div>
                    <div>
                        <h6 style="display: none;">Client Type:</h6>
                        <p id="reviewClientType" style="display: none;"></p>
                    </div>
                    <div>
                        <h6 style="display: none;">Property Type:</h6>
                        <p id="reviewPropertyType" style="display: none;"></p>
                    </div>
                    <style></style>
                    <div class="box3">

                        <div>
                            <h6 style="margin-left: 10px;">Plan:</h6>
                            <p id="reviewPlan" style="margin-left: 10px;"></p>
                        </div>
                    </div>
                    <div>
                        <h6 style="display: none;">Advertiser Tag:</h6>
                        <p id="reviewAdvertisierTag" style="display: none;"></p>
                    </div>
                    <div class="box1">
                        <div>
                            <h6 style="margin: 16px 6px;">POP Required:</h6>
                            <p id="reviewPopRequired" style="margin: -37px 112px;"></p>
                        </div>
                        <div>

                            <h6 style="margin: 44px 1px;">Geo Tagging Required:</h6>
                            <p id="reviewGeoTagging" style="    margin: -67px 165px;"></p>
                        </div>
                    </div>
                    <div>
                        <h6 style="display: none;">File Name:</h6>
                        <p id="reviewFileName" style="display: none;"></p>
                    </div>
                    <div>
                        <h6 style="display: none;">Creative Instruction:</h6>
                        <p id="reviewCreativeInstruction" style="display: none;"></p>
                    </div>


                    <div class="box7">
                        <svg width="84" height="10" viewBox="0 0 84 16" fill="none" xmlns="http://www.w3.org/2000/svg"
                            style="margin: 11px -9px;">
                            <path opacity="0.9"
                                d="M1 15V12.46H4.16V4.36L1.74 5.78L0.56 3.52L5.06 0.899999H7.26V12.46H10.22V15H1ZM11.9722 15V11.8H15.2122V15H11.9722ZM18.1875 15V12.46H21.3475V4.36L18.9275 5.78L17.7475 3.52L22.2475 0.899999H24.4475V12.46H27.4075V15H18.1875ZM29.5997 15V0.899999H32.6997V12.38H39.2197V15H29.5997ZM46.4269 15V7.224H47.6909V8.616C48.1069 7.67733 48.9603 7.16 50.2509 7.064L50.7149 7.016L50.8109 8.136L49.9949 8.232C49.2589 8.296 48.6989 8.53067 48.3149 8.936C47.9309 9.33067 47.7389 9.87467 47.7389 10.568V15H46.4269ZM55.5716 15.144C54.3449 15.144 53.3742 14.7867 52.6596 14.072C51.9449 13.3467 51.5876 12.3653 51.5876 11.128C51.5876 10.328 51.7476 9.624 52.0676 9.016C52.3876 8.39733 52.8249 7.92267 53.3796 7.592C53.9449 7.25067 54.5956 7.08 55.3316 7.08C56.3876 7.08 57.2142 7.42133 57.8116 8.104C58.4089 8.776 58.7076 9.704 58.7076 10.888V11.384H52.8516C52.8942 12.2693 53.1502 12.9467 53.6196 13.416C54.0889 13.8747 54.7396 14.104 55.5716 14.104C56.0409 14.104 56.4889 14.0347 56.9156 13.896C57.3422 13.7467 57.7476 13.5067 58.1316 13.176L58.5796 14.088C58.2276 14.4187 57.7796 14.68 57.2356 14.872C56.6916 15.0533 56.1369 15.144 55.5716 15.144ZM55.3636 8.04C54.6276 8.04 54.0462 8.26933 53.6196 8.728C53.1929 9.18667 52.9422 9.78933 52.8676 10.536H57.5876C57.5556 9.74667 57.3476 9.13333 56.9636 8.696C56.5902 8.25867 56.0569 8.04 55.3636 8.04ZM63.0312 15.144C62.4979 15.144 62.0179 15.0427 61.5912 14.84C61.1752 14.6267 60.8445 14.3387 60.5992 13.976C60.3539 13.6133 60.2312 13.208 60.2312 12.76C60.2312 12.1947 60.3752 11.7467 60.6632 11.416C60.9619 11.0853 61.4472 10.8507 62.1192 10.712C62.8019 10.5627 63.7299 10.488 64.9032 10.488H65.4152V9.992C65.4152 9.33067 65.2765 8.856 64.9992 8.568C64.7325 8.26933 64.3005 8.12 63.7032 8.12C63.2339 8.12 62.7805 8.18933 62.3432 8.328C61.9059 8.456 61.4579 8.66933 60.9992 8.968L60.5512 8.024C60.9565 7.736 61.4472 7.50667 62.0232 7.336C62.6099 7.16533 63.1699 7.08 63.7032 7.08C64.7059 7.08 65.4472 7.32533 65.9272 7.816C66.4179 8.30667 66.6632 9.06933 66.6632 10.104V15H65.4472V13.656C65.2445 14.1147 64.9299 14.4773 64.5032 14.744C64.0872 15.0107 63.5965 15.144 63.0312 15.144ZM63.2392 14.168C63.8792 14.168 64.4019 13.9493 64.8072 13.512C65.2125 13.064 65.4152 12.4987 65.4152 11.816V11.336H64.9192C64.0552 11.336 63.3725 11.3787 62.8712 11.464C62.3805 11.5387 62.0339 11.6773 61.8312 11.88C61.6392 12.072 61.5432 12.3387 61.5432 12.68C61.5432 13.1173 61.6925 13.4747 61.9912 13.752C62.3005 14.0293 62.7165 14.168 63.2392 14.168ZM72.3636 15.144C71.5849 15.144 70.9129 14.9787 70.3476 14.648C69.7822 14.3067 69.3449 13.832 69.0356 13.224C68.7369 12.6053 68.5876 11.8853 68.5876 11.064C68.5876 9.82667 68.9236 8.856 69.5956 8.152C70.2676 7.43733 71.1902 7.08 72.3636 7.08C72.8436 7.08 73.3182 7.16533 73.7876 7.336C74.2569 7.50667 74.6462 7.74667 74.9556 8.056L74.5076 9C74.1982 8.70133 73.8569 8.48267 73.4836 8.344C73.1209 8.20533 72.7742 8.136 72.4436 8.136C71.6329 8.136 71.0089 8.392 70.5716 8.904C70.1342 9.40533 69.9156 10.1307 69.9156 11.08C69.9156 12.008 70.1342 12.744 70.5716 13.288C71.0089 13.8213 71.6329 14.088 72.4436 14.088C72.7742 14.088 73.1209 14.0187 73.4836 13.88C73.8569 13.7413 74.1982 13.5173 74.5076 13.208L74.9556 14.152C74.6462 14.4613 74.2516 14.7067 73.7716 14.888C73.3022 15.0587 72.8329 15.144 72.3636 15.144ZM76.4738 15V3.72H77.7698V8.504C78.0258 8.03467 78.3831 7.68267 78.8418 7.448C79.3111 7.20267 79.8338 7.08 80.4098 7.08C82.2551 7.08 83.1778 8.104 83.1778 10.152V15H81.8818V10.232C81.8818 9.50667 81.7378 8.97867 81.4498 8.648C81.1725 8.30667 80.7245 8.136 80.1058 8.136C79.3911 8.136 78.8205 8.36 78.3938 8.808C77.9778 9.24533 77.7698 9.832 77.7698 10.568V15H76.4738Z"
                                fill="#202224" />
                        </svg>
                        <svg width="61" height="10" viewBox="0 0 61 16" fill="none" xmlns="http://www.w3.org/2000/svg"
                            style="margin: -21px 70px;">
                            <path opacity="0.9"
                                d="M5.02 15.22C4.08667 15.22 3.17333 15.08 2.28 14.8C1.4 14.5067 0.686667 14.1267 0.14 13.66L1.12 11.32C2.32 12.2 3.6 12.64 4.96 12.64C5.72 12.64 6.30667 12.4533 6.72 12.08C7.14667 11.7067 7.36 11.2067 7.36 10.58C7.36 9.94 7.15333 9.42667 6.74 9.04C6.34 8.65333 5.79333 8.46 5.1 8.46C4.1 8.46 3.24667 8.84 2.54 9.6H0.54V0.899999H9.46V3.44H3.52V6.6C4.17333 6.17333 4.96 5.96 5.88 5.96C6.77333 5.96 7.55333 6.15333 8.22 6.54C8.88667 6.91333 9.40667 7.44 9.78 8.12C10.1533 8.8 10.34 9.58667 10.34 10.48C10.34 11.4267 10.1267 12.2533 9.7 12.96C9.27333 13.6667 8.66 14.22 7.86 14.62C7.06 15.02 6.11333 15.22 5.02 15.22ZM12.9922 15V12.46H16.1522V4.36L13.7322 5.78L12.5522 3.52L17.0522 0.899999H19.2522V12.46H22.2122V15H12.9922ZM32.3908 15.144C31.7828 15.144 31.2068 15.0587 30.6628 14.888C30.1188 14.7173 29.6708 14.4773 29.3188 14.168L29.7348 13.256C30.1188 13.5653 30.5401 13.7947 30.9988 13.944C31.4681 14.0827 31.9428 14.152 32.4228 14.152C33.0308 14.152 33.4894 14.04 33.7988 13.816C34.1081 13.592 34.2628 13.288 34.2628 12.904C34.2628 12.6053 34.1614 12.3707 33.9588 12.2C33.7561 12.0187 33.4361 11.88 32.9988 11.784L31.5428 11.464C30.2201 11.176 29.5588 10.4933 29.5588 9.416C29.5588 8.712 29.8361 8.14667 30.3908 7.72C30.9561 7.29333 31.6921 7.08 32.5988 7.08C33.1321 7.08 33.6388 7.16533 34.1188 7.336C34.6094 7.496 35.0148 7.736 35.3348 8.056L34.9028 8.968C34.5934 8.68 34.2308 8.46133 33.8148 8.312C33.4094 8.152 33.0041 8.072 32.5988 8.072C32.0014 8.072 31.5481 8.18933 31.2388 8.424C30.9294 8.65867 30.7748 8.968 30.7748 9.352C30.7748 9.94933 31.1694 10.3333 31.9588 10.504L33.4148 10.808C34.0974 10.9573 34.6148 11.1973 34.9668 11.528C35.3188 11.848 35.4948 12.2853 35.4948 12.84C35.4948 13.5547 35.2121 14.12 34.6468 14.536C34.0814 14.9413 33.3294 15.144 32.3908 15.144ZM37.3099 5.288V3.832H38.9099V5.288H37.3099ZM37.4699 15V7.224H38.7659V15H37.4699ZM44.3087 15.144C43.3913 15.144 42.7033 14.904 42.2447 14.424C41.786 13.9333 41.5567 13.2293 41.5567 12.312V8.232H40.0367V7.224H41.5567V4.84H42.8527V7.224H45.3167V8.232H42.8527V12.184C42.8527 12.792 42.9807 13.256 43.2367 13.576C43.4927 13.8853 43.9087 14.04 44.4847 14.04C44.6553 14.04 44.826 14.0187 44.9967 13.976C45.1673 13.9333 45.322 13.8907 45.4607 13.848L45.6847 14.84C45.546 14.9147 45.3433 14.984 45.0767 15.048C44.81 15.112 44.554 15.144 44.3087 15.144ZM50.2083 15.144C48.9816 15.144 48.0109 14.7867 47.2963 14.072C46.5816 13.3467 46.2243 12.3653 46.2243 11.128C46.2243 10.328 46.3843 9.624 46.7043 9.016C47.0243 8.39733 47.4616 7.92267 48.0163 7.592C48.5816 7.25067 49.2323 7.08 49.9683 7.08C51.0243 7.08 51.8509 7.42133 52.4483 8.104C53.0456 8.776 53.3443 9.704 53.3443 10.888V11.384H47.4883C47.5309 12.2693 47.7869 12.9467 48.2563 13.416C48.7256 13.8747 49.3763 14.104 50.2083 14.104C50.6776 14.104 51.1256 14.0347 51.5523 13.896C51.9789 13.7467 52.3843 13.5067 52.7683 13.176L53.2163 14.088C52.8643 14.4187 52.4163 14.68 51.8723 14.872C51.3283 15.0533 50.7736 15.144 50.2083 15.144ZM50.0003 8.04C49.2643 8.04 48.6829 8.26933 48.2563 8.728C47.8296 9.18667 47.5789 9.78933 47.5043 10.536H52.2243C52.1923 9.74667 51.9843 9.13333 51.6003 8.696C51.2269 8.25867 50.6936 8.04 50.0003 8.04ZM57.8439 15.144C57.2359 15.144 56.6599 15.0587 56.1159 14.888C55.5719 14.7173 55.1239 14.4773 54.7719 14.168L55.1879 13.256C55.5719 13.5653 55.9932 13.7947 56.4519 13.944C56.9212 14.0827 57.3959 14.152 57.8759 14.152C58.4839 14.152 58.9426 14.04 59.2519 13.816C59.5612 13.592 59.7159 13.288 59.7159 12.904C59.7159 12.6053 59.6146 12.3707 59.4119 12.2C59.2092 12.0187 58.8892 11.88 58.4519 11.784L56.9959 11.464C55.6732 11.176 55.0119 10.4933 55.0119 9.416C55.0119 8.712 55.2892 8.14667 55.8439 7.72C56.4092 7.29333 57.1452 7.08 58.0519 7.08C58.5852 7.08 59.0919 7.16533 59.5719 7.336C60.0626 7.496 60.4679 7.736 60.7879 8.056L60.3559 8.968C60.0466 8.68 59.6839 8.46133 59.2679 8.312C58.8626 8.152 58.4572 8.072 58.0519 8.072C57.4546 8.072 57.0012 8.18933 56.6919 8.424C56.3826 8.65867 56.2279 8.968 56.2279 9.352C56.2279 9.94933 56.6226 10.3333 57.4119 10.504L58.8679 10.808C59.5506 10.9573 60.0679 11.1973 60.4199 11.528C60.7719 11.848 60.9479 12.2853 60.9479 12.84C60.9479 13.5547 60.6652 14.12 60.0999 14.536C59.5346 14.9413 58.7826 15.144 57.8439 15.144Z"
                                fill="#202224" />
                        </svg>
                        <svg width="54" height="10" viewBox="0 0 54 16" fill="none" xmlns="http://www.w3.org/2000/svg"
                            style="    margin: 11px 135px;">
                            <path opacity="0.9"
                                d="M5.66 15.22C4.67333 15.22 3.73333 15.08 2.84 14.8C1.94667 14.52 1.21333 14.14 0.64 13.66L1.62 11.32C2.80667 12.2 4.11333 12.64 5.54 12.64C7.16667 12.64 7.98 12.0333 7.98 10.82C7.98 9.7 7.22 9.14 5.7 9.14H3.34V6.64H5.4C6.06667 6.64 6.59333 6.48667 6.98 6.18C7.36667 5.87333 7.56 5.44667 7.56 4.9C7.56 3.80667 6.84667 3.26 5.42 3.26C4.08667 3.26 2.9 3.70667 1.86 4.6L0.88 2.32C1.46667 1.8 2.18667 1.4 3.04 1.12C3.89333 0.826666 4.78 0.68 5.7 0.68C7.22 0.68 8.40667 1.02 9.26 1.7C10.1133 2.38 10.54 3.31333 10.54 4.5C10.54 5.23333 10.3533 5.88 9.98 6.44C9.60667 7 9.08667 7.40667 8.42 7.66C9.22 7.88667 9.84 8.30667 10.28 8.92C10.7333 9.52 10.96 10.2467 10.96 11.1C10.96 12.38 10.4867 13.3867 9.54 14.12C8.59333 14.8533 7.3 15.22 5.66 15.22ZM22.0706 15.144C21.2919 15.144 20.6199 14.9787 20.0546 14.648C19.4893 14.3067 19.0519 13.832 18.7426 13.224C18.4439 12.6053 18.2946 11.8853 18.2946 11.064C18.2946 9.82667 18.6306 8.856 19.3026 8.152C19.9746 7.43733 20.8973 7.08 22.0706 7.08C22.5506 7.08 23.0253 7.16533 23.4946 7.336C23.9639 7.50667 24.3533 7.74667 24.6626 8.056L24.2146 9C23.9053 8.70133 23.5639 8.48267 23.1906 8.344C22.8279 8.20533 22.4813 8.136 22.1506 8.136C21.3399 8.136 20.7159 8.392 20.2786 8.904C19.8413 9.40533 19.6226 10.1307 19.6226 11.08C19.6226 12.008 19.8413 12.744 20.2786 13.288C20.7159 13.8213 21.3399 14.088 22.1506 14.088C22.4813 14.088 22.8279 14.0187 23.1906 13.88C23.5639 13.7413 23.9053 13.5173 24.2146 13.208L24.6626 14.152C24.3533 14.4613 23.9586 14.7067 23.4786 14.888C23.0093 15.0587 22.5399 15.144 22.0706 15.144ZM26.0208 5.288V3.832H27.6208V5.288H26.0208ZM26.1808 15V7.224H27.4768V15H26.1808ZM33.0196 15.144C32.1023 15.144 31.4143 14.904 30.9556 14.424C30.4969 13.9333 30.2676 13.2293 30.2676 12.312V8.232H28.7476V7.224H30.2676V4.84H31.5636V7.224H34.0276V8.232H31.5636V12.184C31.5636 12.792 31.6916 13.256 31.9476 13.576C32.2036 13.8853 32.6196 14.04 33.1956 14.04C33.3663 14.04 33.5369 14.0187 33.7076 13.976C33.8783 13.9333 34.0329 13.8907 34.1716 13.848L34.3956 14.84C34.2569 14.9147 34.0543 14.984 33.7876 15.048C33.5209 15.112 33.2649 15.144 33.0196 15.144ZM35.3333 5.288V3.832H36.9333V5.288H35.3333ZM35.4933 15V7.224H36.7893V15H35.4933ZM42.7161 15.144C41.4894 15.144 40.5188 14.7867 39.8041 14.072C39.0894 13.3467 38.7321 12.3653 38.7321 11.128C38.7321 10.328 38.8921 9.624 39.2121 9.016C39.5321 8.39733 39.9694 7.92267 40.5241 7.592C41.0894 7.25067 41.7401 7.08 42.4761 7.08C43.5321 7.08 44.3588 7.42133 44.9561 8.104C45.5534 8.776 45.8521 9.704 45.8521 10.888V11.384H39.9961C40.0388 12.2693 40.2948 12.9467 40.7641 13.416C41.2334 13.8747 41.8841 14.104 42.7161 14.104C43.1854 14.104 43.6334 14.0347 44.0601 13.896C44.4868 13.7467 44.8921 13.5067 45.2761 13.176L45.7241 14.088C45.3721 14.4187 44.9241 14.68 44.3801 14.872C43.8361 15.0533 43.2814 15.144 42.7161 15.144ZM42.5081 8.04C41.7721 8.04 41.1908 8.26933 40.7641 8.728C40.3374 9.18667 40.0868 9.78933 40.0121 10.536H44.7321C44.7001 9.74667 44.4921 9.13333 44.1081 8.696C43.7348 8.25867 43.2014 8.04 42.5081 8.04ZM50.3517 15.144C49.7437 15.144 49.1677 15.0587 48.6237 14.888C48.0797 14.7173 47.6317 14.4773 47.2797 14.168L47.6957 13.256C48.0797 13.5653 48.5011 13.7947 48.9597 13.944C49.4291 14.0827 49.9037 14.152 50.3837 14.152C50.9917 14.152 51.4504 14.04 51.7597 13.816C52.0691 13.592 52.2237 13.288 52.2237 12.904C52.2237 12.6053 52.1224 12.3707 51.9197 12.2C51.7171 12.0187 51.3971 11.88 50.9597 11.784L49.5037 11.464C48.1811 11.176 47.5197 10.4933 47.5197 9.416C47.5197 8.712 47.7971 8.14667 48.3517 7.72C48.9171 7.29333 49.6531 7.08 50.5597 7.08C51.0931 7.08 51.5997 7.16533 52.0797 7.336C52.5704 7.496 52.9757 7.736 53.2957 8.056L52.8637 8.968C52.5544 8.68 52.1917 8.46133 51.7757 8.312C51.3704 8.152 50.9651 8.072 50.5597 8.072C49.9624 8.072 49.5091 8.18933 49.1997 8.424C48.8904 8.65867 48.7357 8.968 48.7357 9.352C48.7357 9.94933 49.1304 10.3333 49.9197 10.504L51.3757 10.808C52.0584 10.9573 52.5757 11.1973 52.9277 11.528C53.2797 11.848 53.4557 12.2853 53.4557 12.84C53.4557 13.5547 53.1731 14.12 52.6077 14.536C52.0424 14.9413 51.2904 15.144 50.3517 15.144Z"
                                fill="#202224" />
                        </svg>

                        <svg width="96" height="10" viewBox="0 0 96 16" fill="none" xmlns="http://www.w3.org/2000/svg"
                            style="margin: 26px -14px;">
                            <path opacity="0.9"
                                d="M6.54 15.22C4.74 15.22 3.34667 14.6067 2.36 13.38C1.38667 12.14 0.9 10.3933 0.9 8.14C0.9 5.78 1.45333 3.94667 2.56 2.64C3.66667 1.33333 5.2 0.68 7.16 0.68C7.92 0.68 8.66667 0.813333 9.4 1.08C10.1467 1.34667 10.8 1.72 11.36 2.2L10.36 4.5C9.88 4.08667 9.36 3.78 8.8 3.58C8.25333 3.36667 7.69333 3.26 7.12 3.26C4.93333 3.26 3.84 4.69333 3.84 7.56V7.94C4.12 7.27333 4.55333 6.76 5.14 6.4C5.72667 6.02667 6.4 5.84 7.16 5.84C7.96 5.84 8.66667 6.04 9.28 6.44C9.90667 6.82667 10.4 7.36667 10.76 8.06C11.12 8.74 11.3 9.52 11.3 10.4C11.3 11.3333 11.0933 12.1667 10.68 12.9C10.28 13.62 9.72 14.1867 9 14.6C8.29333 15.0133 7.47333 15.22 6.54 15.22ZM6.38 12.8C6.99333 12.8 7.48667 12.5933 7.86 12.18C8.24667 11.7533 8.44 11.2 8.44 10.52C8.44 9.85333 8.24667 9.30667 7.86 8.88C7.48667 8.45333 6.99333 8.24 6.38 8.24C5.75333 8.24 5.24667 8.45333 4.86 8.88C4.48667 9.30667 4.3 9.85333 4.3 10.52C4.3 11.2 4.48667 11.7533 4.86 12.18C5.24667 12.5933 5.75333 12.8 6.38 12.8ZM13.9922 15V12.46H17.1522V4.36L14.7322 5.78L13.5522 3.52L18.0522 0.899999H20.2522V12.46H23.2122V15H13.9922ZM29.6444 15.22C28.6577 15.22 27.7177 15.08 26.8244 14.8C25.931 14.52 25.1977 14.14 24.6244 13.66L25.6044 11.32C26.791 12.2 28.0977 12.64 29.5244 12.64C31.151 12.64 31.9644 12.0333 31.9644 10.82C31.9644 9.7 31.2044 9.14 29.6844 9.14H27.3244V6.64H29.3844C30.051 6.64 30.5777 6.48667 30.9644 6.18C31.351 5.87333 31.5444 5.44667 31.5444 4.9C31.5444 3.80667 30.831 3.26 29.4044 3.26C28.071 3.26 26.8844 3.70667 25.8444 4.6L24.8644 2.32C25.451 1.8 26.171 1.4 27.0244 1.12C27.8777 0.826666 28.7644 0.68 29.6844 0.68C31.2044 0.68 32.391 1.02 33.2444 1.7C34.0977 2.38 34.5244 3.31333 34.5244 4.5C34.5244 5.23333 34.3377 5.88 33.9644 6.44C33.591 7 33.071 7.40667 32.4044 7.66C33.2044 7.88667 33.8244 8.30667 34.2644 8.92C34.7177 9.52 34.9444 10.2467 34.9444 11.1C34.9444 12.38 34.471 13.3867 33.5244 14.12C32.5777 14.8533 31.2844 15.22 29.6444 15.22ZM45.383 15.144C44.775 15.144 44.199 15.0587 43.655 14.888C43.111 14.7173 42.663 14.4773 42.311 14.168L42.727 13.256C43.111 13.5653 43.5323 13.7947 43.991 13.944C44.4603 14.0827 44.935 14.152 45.415 14.152C46.023 14.152 46.4816 14.04 46.791 13.816C47.1003 13.592 47.255 13.288 47.255 12.904C47.255 12.6053 47.1536 12.3707 46.951 12.2C46.7483 12.0187 46.4283 11.88 45.991 11.784L44.535 11.464C43.2123 11.176 42.551 10.4933 42.551 9.416C42.551 8.712 42.8283 8.14667 43.383 7.72C43.9483 7.29333 44.6843 7.08 45.591 7.08C46.1243 7.08 46.631 7.16533 47.111 7.336C47.6016 7.496 48.007 7.736 48.327 8.056L47.895 8.968C47.5856 8.68 47.223 8.46133 46.807 8.312C46.4016 8.152 45.9963 8.072 45.591 8.072C44.9936 8.072 44.5403 8.18933 44.231 8.424C43.9216 8.65867 43.767 8.968 43.767 9.352C43.767 9.94933 44.1616 10.3333 44.951 10.504L46.407 10.808C47.0896 10.9573 47.607 11.1973 47.959 11.528C48.311 11.848 48.487 12.2853 48.487 12.84C48.487 13.5547 48.2043 14.12 47.639 14.536C47.0736 14.9413 46.3216 15.144 45.383 15.144ZM53.7581 15.144C52.9794 15.144 52.3074 14.9787 51.7421 14.648C51.1768 14.3067 50.7394 13.832 50.4301 13.224C50.1314 12.6053 49.9821 11.8853 49.9821 11.064C49.9821 9.82667 50.3181 8.856 50.9901 8.152C51.6621 7.43733 52.5848 7.08 53.7581 7.08C54.2381 7.08 54.7128 7.16533 55.1821 7.336C55.6514 7.50667 56.0408 7.74667 56.3501 8.056L55.9021 9C55.5928 8.70133 55.2514 8.48267 54.8781 8.344C54.5154 8.20533 54.1688 8.136 53.8381 8.136C53.0274 8.136 52.4034 8.392 51.9661 8.904C51.5288 9.40533 51.3101 10.1307 51.3101 11.08C51.3101 12.008 51.5288 12.744 51.9661 13.288C52.4034 13.8213 53.0274 14.088 53.8381 14.088C54.1688 14.088 54.5154 14.0187 54.8781 13.88C55.2514 13.7413 55.5928 13.5173 55.9021 13.208L56.3501 14.152C56.0408 14.4613 55.6461 14.7067 55.1661 14.888C54.6968 15.0587 54.2274 15.144 53.7581 15.144ZM57.8683 15V7.224H59.1323V8.616C59.5483 7.67733 60.4017 7.16 61.6923 7.064L62.1563 7.016L62.2523 8.136L61.4363 8.232C60.7003 8.296 60.1403 8.53067 59.7563 8.936C59.3723 9.33067 59.1803 9.87467 59.1803 10.568V15H57.8683ZM67.013 15.144C65.7863 15.144 64.8156 14.7867 64.101 14.072C63.3863 13.3467 63.029 12.3653 63.029 11.128C63.029 10.328 63.189 9.624 63.509 9.016C63.829 8.39733 64.2663 7.92267 64.821 7.592C65.3863 7.25067 66.037 7.08 66.773 7.08C67.829 7.08 68.6556 7.42133 69.253 8.104C69.8503 8.776 70.149 9.704 70.149 10.888V11.384H64.293C64.3356 12.2693 64.5916 12.9467 65.061 13.416C65.5303 13.8747 66.181 14.104 67.013 14.104C67.4823 14.104 67.9303 14.0347 68.357 13.896C68.7836 13.7467 69.189 13.5067 69.573 13.176L70.021 14.088C69.669 14.4187 69.221 14.68 68.677 14.872C68.133 15.0533 67.5783 15.144 67.013 15.144ZM66.805 8.04C66.069 8.04 65.4876 8.26933 65.061 8.728C64.6343 9.18667 64.3836 9.78933 64.309 10.536H69.029C68.997 9.74667 68.789 9.13333 68.405 8.696C68.0316 8.25867 67.4983 8.04 66.805 8.04ZM75.5286 15.144C74.3019 15.144 73.3313 14.7867 72.6166 14.072C71.9019 13.3467 71.5446 12.3653 71.5446 11.128C71.5446 10.328 71.7046 9.624 72.0246 9.016C72.3446 8.39733 72.7819 7.92267 73.3366 7.592C73.9019 7.25067 74.5526 7.08 75.2886 7.08C76.3446 7.08 77.1713 7.42133 77.7686 8.104C78.3659 8.776 78.6646 9.704 78.6646 10.888V11.384H72.8086C72.8513 12.2693 73.1073 12.9467 73.5766 13.416C74.0459 13.8747 74.6966 14.104 75.5286 14.104C75.9979 14.104 76.4459 14.0347 76.8726 13.896C77.2993 13.7467 77.7046 13.5067 78.0886 13.176L78.5366 14.088C78.1846 14.4187 77.7366 14.68 77.1926 14.872C76.6486 15.0533 76.0939 15.144 75.5286 15.144ZM75.3206 8.04C74.5846 8.04 74.0033 8.26933 73.5766 8.728C73.1499 9.18667 72.8993 9.78933 72.8246 10.536H77.5446C77.5126 9.74667 77.3046 9.13333 76.9206 8.696C76.5473 8.25867 76.0139 8.04 75.3206 8.04ZM80.5402 15V7.224H81.8042V8.552C82.0602 8.06133 82.4229 7.69333 82.8922 7.448C83.3616 7.20267 83.8896 7.08 84.4762 7.08C86.3216 7.08 87.2442 8.104 87.2442 10.152V15H85.9482V10.232C85.9482 9.50667 85.8042 8.97867 85.5162 8.648C85.2389 8.30667 84.7909 8.136 84.1722 8.136C83.4576 8.136 82.8869 8.36 82.4602 8.808C82.0442 9.24533 81.8362 9.832 81.8362 10.568V15H80.5402ZM92.258 15.144C91.65 15.144 91.074 15.0587 90.53 14.888C89.986 14.7173 89.538 14.4773 89.186 14.168L89.602 13.256C89.986 13.5653 90.4073 13.7947 90.866 13.944C91.3353 14.0827 91.81 14.152 92.29 14.152C92.898 14.152 93.3566 14.04 93.666 13.816C93.9753 13.592 94.13 13.288 94.13 12.904C94.13 12.6053 94.0286 12.3707 93.826 12.2C93.6233 12.0187 93.3033 11.88 92.866 11.784L91.41 11.464C90.0873 11.176 89.426 10.4933 89.426 9.416C89.426 8.712 89.7033 8.14667 90.258 7.72C90.8233 7.29333 91.5593 7.08 92.466 7.08C92.9993 7.08 93.506 7.16533 93.986 7.336C94.4766 7.496 94.882 7.736 95.202 8.056L94.77 8.968C94.4606 8.68 94.098 8.46133 93.682 8.312C93.2766 8.152 92.8713 8.072 92.466 8.072C91.8686 8.072 91.4153 8.18933 91.106 8.424C90.7966 8.65867 90.642 8.968 90.642 9.352C90.642 9.94933 91.0366 10.3333 91.826 10.504L93.282 10.808C93.9646 10.9573 94.482 11.1973 94.834 11.528C95.186 11.848 95.362 12.2853 95.362 12.84C95.362 13.5547 95.0793 14.12 94.514 14.536C93.9486 14.9413 93.1966 15.144 92.258 15.144Z"
                                fill="#202224" />
                        </svg>
                        <svg width="153" height="10" viewBox="0 0 153 16" fill="none" xmlns="http://www.w3.org/2000/svg"
                            style="margin: -36px 45px;">
                            <path opacity="0.9"
                                d="M7.9 15L4.92 10.54C4.70667 10.1933 4.46667 9.94667 4.2 9.8C3.94667 9.64 3.62667 9.56 3.24 9.56H0.42V7.32H4.24C4.94667 7.32 5.5 7.20667 5.9 6.98C6.31333 6.75333 6.61333 6.41333 6.8 5.96H0.42V4.06H6.78C6.60667 3.64667 6.32 3.34 5.92 3.14C5.53333 2.92667 5 2.82 4.32 2.82H0.42V0.899999H11.6V2.82H9.22C9.52667 3.15333 9.73333 3.56667 9.84 4.06H11.6V5.96H9.9C9.76667 6.81333 9.41333 7.52667 8.84 8.1C8.28 8.67333 7.54667 9.06667 6.64 9.28C7.46667 9.42667 8.16667 9.92 8.74 10.76L11.66 15H7.9ZM13.9922 15V12.46H17.1522V4.36L14.7322 5.78L13.5522 3.52L18.0522 0.899999H20.2522V12.46H23.2122V15H13.9922ZM30.0044 15.22C29.071 15.22 28.1577 15.08 27.2644 14.8C26.3844 14.5067 25.671 14.1267 25.1244 13.66L26.1044 11.32C27.3044 12.2 28.5844 12.64 29.9444 12.64C30.7044 12.64 31.291 12.4533 31.7044 12.08C32.131 11.7067 32.3444 11.2067 32.3444 10.58C32.3444 9.94 32.1377 9.42667 31.7244 9.04C31.3244 8.65333 30.7777 8.46 30.0844 8.46C29.0844 8.46 28.231 8.84 27.5244 9.6H25.5244V0.899999H34.4444V3.44H28.5044V6.6C29.1577 6.17333 29.9444 5.96 30.8644 5.96C31.7577 5.96 32.5377 6.15333 33.2044 6.54C33.871 6.91333 34.391 7.44 34.7644 8.12C35.1377 8.8 35.3244 9.58667 35.3244 10.48C35.3244 11.4267 35.111 12.2533 34.6844 12.96C34.2577 13.6667 33.6444 14.22 32.8444 14.62C32.0444 15.02 31.0977 15.22 30.0044 15.22ZM36.9566 15V11.8H40.1966V15H36.9566ZM46.8319 15.22C45.8452 15.22 44.9052 15.08 44.0119 14.8C43.1185 14.52 42.3852 14.14 41.8119 13.66L42.7919 11.32C43.9785 12.2 45.2852 12.64 46.7119 12.64C48.3385 12.64 49.1519 12.0333 49.1519 10.82C49.1519 9.7 48.3919 9.14 46.8719 9.14H44.5119V6.64H46.5719C47.2385 6.64 47.7652 6.48667 48.1519 6.18C48.5385 5.87333 48.7319 5.44667 48.7319 4.9C48.7319 3.80667 48.0185 3.26 46.5919 3.26C45.2585 3.26 44.0719 3.70667 43.0319 4.6L42.0519 2.32C42.6385 1.8 43.3585 1.4 44.2119 1.12C45.0652 0.826666 45.9519 0.68 46.8719 0.68C48.3919 0.68 49.5785 1.02 50.4319 1.7C51.2852 2.38 51.7119 3.31333 51.7119 4.5C51.7119 5.23333 51.5252 5.88 51.1519 6.44C50.7785 7 50.2585 7.40667 49.5919 7.66C50.3919 7.88667 51.0119 8.30667 51.4519 8.92C51.9052 9.52 52.1319 10.2467 52.1319 11.1C52.1319 12.38 51.6585 13.3867 50.7119 14.12C49.7652 14.8533 48.4719 15.22 46.8319 15.22ZM54.5841 15V0.899999H57.6841V12.38H64.2041V15H54.5841ZM74.6433 15.144C73.886 15.144 73.23 14.9787 72.6753 14.648C72.1206 14.3173 71.6886 13.8533 71.3793 13.256C71.0806 12.648 70.9313 11.9333 70.9313 11.112C70.9313 10.2907 71.0806 9.58133 71.3793 8.984C71.6886 8.376 72.1206 7.90667 72.6753 7.576C73.23 7.24533 73.886 7.08 74.6433 7.08C75.39 7.08 76.0406 7.24533 76.5953 7.576C77.1606 7.90667 77.5926 8.376 77.8913 8.984C78.2006 9.58133 78.3553 10.2907 78.3553 11.112C78.3553 11.9333 78.2006 12.648 77.8913 13.256C77.5926 13.8533 77.1606 14.3173 76.5953 14.648C76.0406 14.9787 75.39 15.144 74.6433 15.144ZM74.6433 14.104C75.3686 14.104 75.95 13.848 76.3873 13.336C76.8246 12.8133 77.0433 12.072 77.0433 11.112C77.0433 10.1413 76.8246 9.4 76.3873 8.888C75.95 8.376 75.3686 8.12 74.6433 8.12C73.9073 8.12 73.3206 8.376 72.8833 8.888C72.4566 9.4 72.2433 10.1413 72.2433 11.112C72.2433 12.072 72.4566 12.8133 72.8833 13.336C73.3206 13.848 73.9073 14.104 74.6433 14.104ZM82.4806 15L79.1366 7.224H80.5446L83.1206 13.528L85.7286 7.224H87.0566L83.6966 15H82.4806ZM91.8216 15.144C90.5949 15.144 89.6242 14.7867 88.9096 14.072C88.1949 13.3467 87.8376 12.3653 87.8376 11.128C87.8376 10.328 87.9976 9.624 88.3176 9.016C88.6376 8.39733 89.0749 7.92267 89.6296 7.592C90.1949 7.25067 90.8456 7.08 91.5816 7.08C92.6376 7.08 93.4642 7.42133 94.0616 8.104C94.6589 8.776 94.9576 9.704 94.9576 10.888V11.384H89.1016C89.1442 12.2693 89.4002 12.9467 89.8696 13.416C90.3389 13.8747 90.9896 14.104 91.8216 14.104C92.2909 14.104 92.7389 14.0347 93.1656 13.896C93.5922 13.7467 93.9976 13.5067 94.3816 13.176L94.8296 14.088C94.4776 14.4187 94.0296 14.68 93.4856 14.872C92.9416 15.0533 92.3869 15.144 91.8216 15.144ZM91.6136 8.04C90.8776 8.04 90.2962 8.26933 89.8696 8.728C89.4429 9.18667 89.1922 9.78933 89.1176 10.536H93.8376C93.8056 9.74667 93.5976 9.13333 93.2136 8.696C92.8402 8.25867 92.3069 8.04 91.6136 8.04ZM96.8332 15V7.224H98.0972V8.616C98.5132 7.67733 99.3665 7.16 100.657 7.064L101.121 7.016L101.217 8.136L100.401 8.232C99.6652 8.296 99.1052 8.53067 98.7212 8.936C98.3372 9.33067 98.1452 9.87467 98.1452 10.568V15H96.8332ZM104.937 15.144C104.404 15.144 103.924 15.0427 103.497 14.84C103.081 14.6267 102.751 14.3387 102.505 13.976C102.26 13.6133 102.137 13.208 102.137 12.76C102.137 12.1947 102.281 11.7467 102.569 11.416C102.868 11.0853 103.353 10.8507 104.025 10.712C104.708 10.5627 105.636 10.488 106.809 10.488H107.321V9.992C107.321 9.33067 107.183 8.856 106.905 8.568C106.639 8.26933 106.207 8.12 105.609 8.12C105.14 8.12 104.687 8.18933 104.249 8.328C103.812 8.456 103.364 8.66933 102.905 8.968L102.457 8.024C102.863 7.736 103.353 7.50667 103.929 7.336C104.516 7.16533 105.076 7.08 105.609 7.08C106.612 7.08 107.353 7.32533 107.833 7.816C108.324 8.30667 108.569 9.06933 108.569 10.104V15H107.353V13.656C107.151 14.1147 106.836 14.4773 106.409 14.744C105.993 15.0107 105.503 15.144 104.937 15.144ZM105.145 14.168C105.785 14.168 106.308 13.9493 106.713 13.512C107.119 13.064 107.321 12.4987 107.321 11.816V11.336H106.825C105.961 11.336 105.279 11.3787 104.777 11.464C104.287 11.5387 103.94 11.6773 103.737 11.88C103.545 12.072 103.449 12.3387 103.449 12.68C103.449 13.1173 103.599 13.4747 103.897 13.752C104.207 14.0293 104.623 14.168 105.145 14.168ZM113.358 15.144C112.568 15.144 111.971 14.9147 111.566 14.456C111.171 13.9867 110.974 13.3093 110.974 12.424V3.72H112.27V12.328C112.27 13.4693 112.723 14.04 113.63 14.04C113.896 14.04 114.136 14.008 114.35 13.944L114.318 15.032C113.987 15.1067 113.667 15.144 113.358 15.144ZM118.092 15.144C117.303 15.144 116.706 14.9147 116.3 14.456C115.906 13.9867 115.708 13.3093 115.708 12.424V3.72H117.004V12.328C117.004 13.4693 117.458 14.04 118.364 14.04C118.631 14.04 118.871 14.008 119.084 13.944L119.052 15.032C118.722 15.1067 118.402 15.144 118.092 15.144ZM127.848 15.144C127.069 15.144 126.397 14.9787 125.832 14.648C125.267 14.3067 124.829 13.832 124.52 13.224C124.221 12.6053 124.072 11.8853 124.072 11.064C124.072 9.82667 124.408 8.856 125.08 8.152C125.752 7.43733 126.675 7.08 127.848 7.08C128.328 7.08 128.803 7.16533 129.272 7.336C129.741 7.50667 130.131 7.74667 130.44 8.056L129.992 9C129.683 8.70133 129.341 8.48267 128.968 8.344C128.605 8.20533 128.259 8.136 127.928 8.136C127.117 8.136 126.493 8.392 126.056 8.904C125.619 9.40533 125.4 10.1307 125.4 11.08C125.4 12.008 125.619 12.744 126.056 13.288C126.493 13.8213 127.117 14.088 127.928 14.088C128.259 14.088 128.605 14.0187 128.968 13.88C129.341 13.7413 129.683 13.5173 129.992 13.208L130.44 14.152C130.131 14.4613 129.736 14.7067 129.256 14.888C128.787 15.0587 128.317 15.144 127.848 15.144ZM135.034 15.144C134.277 15.144 133.621 14.9787 133.066 14.648C132.511 14.3173 132.079 13.8533 131.77 13.256C131.471 12.648 131.322 11.9333 131.322 11.112C131.322 10.2907 131.471 9.58133 131.77 8.984C132.079 8.376 132.511 7.90667 133.066 7.576C133.621 7.24533 134.277 7.08 135.034 7.08C135.781 7.08 136.431 7.24533 136.986 7.576C137.551 7.90667 137.983 8.376 138.282 8.984C138.591 9.58133 138.746 10.2907 138.746 11.112C138.746 11.9333 138.591 12.648 138.282 13.256C137.983 13.8533 137.551 14.3173 136.986 14.648C136.431 14.9787 135.781 15.144 135.034 15.144ZM135.034 14.104C135.759 14.104 136.341 13.848 136.778 13.336C137.215 12.8133 137.434 12.072 137.434 11.112C137.434 10.1413 137.215 9.4 136.778 8.888C136.341 8.376 135.759 8.12 135.034 8.12C134.298 8.12 133.711 8.376 133.274 8.888C132.847 9.4 132.634 10.1413 132.634 11.112C132.634 12.072 132.847 12.8133 133.274 13.336C133.711 13.848 134.298 14.104 135.034 14.104ZM143.317 15.144C142.709 15.144 142.133 15.0587 141.589 14.888C141.045 14.7173 140.597 14.4773 140.245 14.168L140.661 13.256C141.045 13.5653 141.466 13.7947 141.925 13.944C142.394 14.0827 142.869 14.152 143.349 14.152C143.957 14.152 144.415 14.04 144.725 13.816C145.034 13.592 145.189 13.288 145.189 12.904C145.189 12.6053 145.087 12.3707 144.885 12.2C144.682 12.0187 144.362 11.88 143.925 11.784L142.469 11.464C141.146 11.176 140.485 10.4933 140.485 9.416C140.485 8.712 140.762 8.14667 141.317 7.72C141.882 7.29333 142.618 7.08 143.525 7.08C144.058 7.08 144.565 7.16533 145.045 7.336C145.535 7.496 145.941 7.736 146.261 8.056L145.829 8.968C145.519 8.68 145.157 8.46133 144.741 8.312C144.335 8.152 143.93 8.072 143.525 8.072C142.927 8.072 142.474 8.18933 142.165 8.424C141.855 8.65867 141.701 8.968 141.701 9.352C141.701 9.94933 142.095 10.3333 142.885 10.504L144.341 10.808C145.023 10.9573 145.541 11.1973 145.893 11.528C146.245 11.848 146.421 12.2853 146.421 12.84C146.421 13.5547 146.138 14.12 145.573 14.536C145.007 14.9413 144.255 15.144 143.317 15.144ZM151.438 15.144C150.52 15.144 149.832 14.904 149.374 14.424C148.915 13.9333 148.686 13.2293 148.686 12.312V8.232H147.166V7.224H148.686V4.84H149.982V7.224H152.446V8.232H149.982V12.184C149.982 12.792 150.11 13.256 150.366 13.576C150.622 13.8853 151.038 14.04 151.614 14.04C151.784 14.04 151.955 14.0187 152.126 13.976C152.296 13.9333 152.451 13.8907 152.59 13.848L152.814 14.84C152.675 14.9147 152.472 14.984 152.206 15.048C151.939 15.112 151.683 15.144 151.438 15.144Z"
                                fill="#202224" />
                        </svg>


                    </div>
                    <button id="editProposalBtn">Edit</button>

                    <button id="submitProposalBtn">Submit Proposal</button>
                    <!-- <button id="discardProposalBtn">Discard</button> -->

                </div>


            </div>
        </div>
        <div class="table3-container34">
            <table class="table10">
                <thead>
                    <tr>
                        <th>
                            <button class="btn30" onclick="showDraftTable()">Draft</button>
                        </th>
                        <th style="margin-left:20px ;">
                            <button class="btn31" style="margin-left:10px ;">Pending Activation</button>
                        </th>
                        <th>
                            <button class="btn32">Active</button>
                        </th>
                        <th>
                            <button class="btn33" onclick="showDeletedProposals()">Deleted</button>
                        </th>
                    </tr>
                </thead>
            </table>


            <div class="searchbar" style="margin: 22px -9px; display: flex; align-items: center;">
                <i class="fa-solid fa-magnifying-glass" style="margin-right: 1px;color: #999696;"></i>
                <input type="text" placeholder="Search" style="width: 700px; margin: -20px 1px; background-color: #E6EEF3; border-radius: 5px; padding-left: 10px;">
            </div>
            

            <!-- <h2>Saved Proposals</h2> -->
            <div class="table-container" id="main-proposals-table" style="border-radius: 20px;">
                <table style="width: 690px; border-radius: 20px;">
                    <thead>
                        <tr style="height:30px; background-color: white; gap: 2px;">
                            <th>PROPOSAL NAME</th>
                            <th>SUMMARY</th>
                            <th>REACH</th>
                            <th>ACTION</th>
                        </tr>
                    </thead>
                    <tbody style="background-color: white; width: 600px;font-family: Nunito sans-serif;">
                        <% proposals.forEach(proposal=> { %>
                            <% if (!proposal.deleted) { %>
                                <tr>
                                    <td>
                                        <%= proposal.clientName %>
                                    </td>
                                    <td>
                                        <%= proposal.slotDuration %>
                                    </td>
                                    <td>
                                        <%= proposal.cities.join(', ') %></td>
                                <td>
                                    <button style="    width: 100px;
                                    border: none;
                                    border-radius: 9px;
                                    background-color: #0D6EFD;
                                    color: white;" class="submitted-button" data-id="<%= proposal._id %>">Submit</button>
                                    <hr style="background-color: white;">
                                    <button style="color: #EF8E8F; margin: 1px 18px;" class="discard-button" data-id="<%= proposal._id %>">Discard</button>
                                </td>
                            </tr>
                        <% } %>
                    <% }) %>
                </tbody>
            </table>
        </div>



        <!-- deleted  -->
    <div class="table-container" id="deleted-proposals-table" style="border-radius: 20px; display: none;">
        <table style="width: 690px; border-radius: 20px;">
            <thead>
                <tr style="height:30px; background-color: white; gap: 2px;">
                    <th>PROPOSAL NAME</th>
                    <th>SUMMARY</th>
                    <th>REACH</th>
                    <th>ACTION</th>
                </tr>
            </thead>
            <tbody style="background-color: white; width: 600px;">
                <% proposals.forEach(proposal => { %>
                    <% if (proposal.deleted) { %>
                        <tr>
                            <td><%= proposal.clientName %></td>
                            <td><%= proposal.slotDuration %></td>
                            <td><%= proposal.cities.join(' , ') %></td>
                            <td>
                                <button style="border: none; border-radius: 4px; background-color: #0D6EFD; color: white;" class="submitted-button" data-id="<%= proposal._id %>">Submitted</button>
                                <hr style="background-color: white;">
                                <button style="color: #EF8E8F; margin: 1px 1px;" class="discard-button" data-id="<%= proposal._id %>">Discard</button>
                            </td>
                        </tr>
                    <% } %>
                <% }) %>
            </tbody>
        </table>
    </div>


      <script src="/scripts.js"></script>
  </body>
  </html>
